### Import the libraries

In [2]:
import camelot as cam

### upload the pdf file

In [3]:
tables = cam.read_pdf("makkah.pdf",pages="1",flavor='stream')
tables

### Find the table in pdf

In [4]:
tables[0].df

,0,1,2,3,4
0,05 Sept 2022,,,,
1,,,From 05 Sept - Till 30 Sept 2022,,
2,,,,Rooms,
3,,Hotel,,,
4,,,Double,Triple,Quad
5,,Emaar Grand,,145 SR,
6,,,Meals Rates per person per night,,
7,,Breakfast\n \n \nLunch/ Diner,H.B Turkey,H.B Iraq\n \nF.B Iraq,F.B Asia
8,,20 SR \n40 SR,50 SR,45 SR \n60 SR,50 SR
9,,,,Rooms,
10,,Hotel,,,
11,,,Double,Triple,Quad
12,,Emaar Al Manar,,110 SR,
13,,Emaar Andalusia,,145 SR,
14,,Emaar Al Khalil,,110 SR,
15,,Emaar Elite,,,
16,,,,100 SR,
17,,(Shuttle Bus Service),,,
18,,Meals\n \nRates,per person per night,(For groups only),
19,,Breakfast\n \n \nLunch/ Diner,H.B Turkey,H.B Iraq\n \nF.B Iraq,F.B Asia
20,,20 SR \n40 SR,50 SR,40 SR \n55 SR,45 SR
21,,• Above rates are per room per night includin...,,,
22,,• Above rates are subject to MAQAM fees.,,,
23,,• Above rates will apply for new reservations...,,,
24,,• All above rates are subject to change witho...,,,

### How to find the specific column in the pdf

In [5]:
tables[0].df[[2,3]]

                                   2                      3
0
1   From 05 Sept - Till 30 Sept 2022
2                                                     Rooms
3
4                             Double                 Triple
5                                                    145 SR
6   Meals Rates per person per night
7                         H.B Turkey  H.B Iraq\n \nF.B Iraq
8                              50 SR          45 SR \n60 SR
9                                                     Rooms
10
11                            Double                 Triple
12                                                   110 SR
13                                                   145 SR
14                                                   110 SR
15
16                                                   100 SR
17
18              per person per night      (For groups only)
19                        H.B Turkey  H.B Iraq\n \nF.B Iraq
20                             50 SR          40 SR \n55 SR
21
22
23
24